{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
<herosectiontop class="py-md-0 u-flex-center heroimages" style="background:#ebe6f9">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 mb-1 mb-lg-0">
          <h1 class="display-4 boldtitle blacktext">
            {{ $title }}
          </h1>
          {{ with $subtitle }}
          <h2 class="u-fs-26 u-lh-1_8 my-4 valprop blacktext">
            {{ . | safeHTML }}
          </h2>
          {{ end }}
          <a href="" class="btn btn-green btn-rounded valprop">
            Get started for free
          </a>
        </div> <!-- END col-lg-7-->
        <div class="col-lg-5 ml-auto">
          <img src="assets/img/front/bubblestop.svg" alt="Bubbles!">
        </div> <!-- END col-lg-4-->
      </div> <!-- END row-->
    </div> <!-- END container-->
  </herosectiontop> <!-- END intro-hero-->