{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
<herosectiontop class="pt-md-4 u-flex-center heroimages bg-section3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 mb-1 mb-lg-0">
          <h1 class="display-4 boldtitle purpletext">
            {{ $title }}
          </h1>
          {{ with $subtitle }}
          <h3 class="my-4 valprop purpletext">
            {{ . | safeHTML }}
          </h3>
          {{ end }}
          <form class="form-inline">
            <div class="input-group u-of-hidden">
              <input type="text" class="form-control border-orange bg-inputbox p-3 btn-leftside inputtext" placeholder="Enter your email">
              <button type="submit" class="input-group-btn btn btn-rightside btn-orange boldtitle">
                <span class="lightpurpletext inputtext">Get started for free</span>
              </button>
            </div>
          </form>
        </div> <!-- END col-lg-7-->
        <div class="col-lg-5 ml-auto">
          <img src="assets/img/front/bubblestop.svg" alt="Bubbles!">
        </div> <!-- END col-lg-4-->
      </div> <!-- END row-->
    </div> <!-- END container-->
  </herosectiontop> <!-- END intro-hero-->