{{- $stepbystep       := .Site.Params.stepbystep }}
{{- $step1            := index $stepbystep "step1" }}
{{- $step2            := index $stepbystep "step2" }}
{{- $step3            := index $stepbystep "step3" }}
{{- $step1copy        := index $stepbystep "step1copy" }}
{{- $step2copy        := index $stepbystep "step2copy" }}
{{- $step3copy        := index $stepbystep "step3copy" }}
{{- $valpropctas      := .Site.Params.valpropctas }}
{{- $ctaherobutton    := index $valpropctas "ctaherobutton" }}
<section class="bg-section1 py-md-5">
        <div class="container ">
            <div class="row text-center">
                <div class="col-12 u-mb-10">
                    <h1 class="boldtitle lightpurpletext">
                        How Fixagraph works
                    </h1>
                </div>
            
                <div class="col-md-4 mt-5">
                    <div class="ml-auto text-center">
                        <img class="w-50" src="assets/img/icons/chat.svg" alt="">
                    </div>
                    <h3 class="mt-4 lightpurpletext">
                        {{ $step1 }}
                    </h3>
                    <p class="stepbystepwords u-fs-20 lightpurpletext">
                        {{ $step1copy }}
                    </p>
                </div>  <!-- END col-md-4 -->
            
                <div class="col-md-4 mt-5">
                    <div class="ml-auto text-center">
                        <img class="w-50" src="assets/img/icons/Artboard 1.svg" alt="">
                    </div>                    
                    <h3 class="mt-4 lightpurpletext">
                        {{ $step2 }}
                    </h3>
                    <p class="stepbystepwords u-fs-20 lightpurpletext">
                        {{ $step2copy }}
                    </p>
                </div>  <!-- END col-md-4 -->
            
                <div class="col-md-4 mt-5">
                    <div class="ml-auto text-center">
                        <img class="w-50" src="assets/img/icons/editing.svg" alt="">
                    </div>                    
                    <h3 class="mt-4 lightpurpletext">
                        {{ $step3 }}
                    </h3>
                    <p class="stepbystepwords u-fs-20 lightpurpletext">
                        {{ $step3copy }}
                    </p>
                </div>  <!-- END col-md-4 -->
                
                <div class="col-12 u-mt-80 u-mb-80">
                    <a href="" class="btn btn-outline-orange btn-rounded valprop">
                            {{ $ctaherobutton }}
                    </a>
                </div>

            </div> <!-- END row-->
        </div> <!-- END container-->
    </section>